/* You can add global styles to this file, and also import other style files */
$color-white:#fff;
$color-greyshade:#f9fafb;
$color-blackshade:#2f3640;
$color-border:#ddd;
$color-table-alt:#f2f2f2;
$color-paginate-primary:#337ab7;
$color-paginate-focus:#23527c;
$color-paginate-focus-bg:#eee;
$color-paginate-disabled:#777;
$color-table-header:#337ab7;
$color-searchbox:#efefef;
$border-default:1px solid $color-border;