<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <button (click)="setPage(1)">| &#10094;</button>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
    <button (click)="setPage(pager.currentPage - 1)">&#10094;</button>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage ===
      page}">
    <button (click)="setPage(page)">{{page}}</button>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <button (click)="setPage(pager.currentPage + 1)">&#10095;</button>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <button (click)="setPage(pager.totalPages)">&#10095; |</button>
  </li>

</ul>
