.pagination {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  li {
    display: block;
    float: left;
    padding: 5px;
    display: block;
    float: left;
    padding: 2px;
    position: relative;
    top: -55px;
  }

  button {
    background: none;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .6);
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    padding: 0;
  }

  .prev,
  .next {
    font-size: 18px;
  }
}
