<table class="generic-table center">
  <thead>
    <tr>
      <ng-container *ngFor="let item of filterKeys | keyvalue: sortNull">
        <td (click)="sort(item.key)">{{item.key | uppercase}}
          <span *ngIf="sorkKey==item.key && isAsc"></span>
            <span *ngIf="sorkKey==item.key && !isAsc"></span>
        </td>
      </ng-container>
    </tr>
  </thead>
  <tbody *ngIf="!loading">
    <tr>
        <ng-container *ngFor="let item of filterKeys | keyvalue:sortNull">
          <td>
            <div>
              <input type='text' [(ngModel)]="item.value" (change)="search(item.value,item.key)" class="searchInput"
                placeholder="Search">
            </div>
          </td>
        </ng-container>
      </tr>
    <tr *ngFor="let item of visibleList | slice:(page-1)*ItemsPerPage:page*ItemsPerPage">
      <ng-container *ngFor="let item of item | keyvalue:sortNull">
        <td>{{item.value}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="container">
  <label class="control-label">
    <label class="control-label">
      Items Per Page
      <label class="info-text">
        {{TotalCount}}
      </label>
    </label>
    <div class='container'>
      <div class="select select-fancy select-fancy-noimage">
        <select (ngModelChange)="changePageSize($event)" [(ngModel)]="ItemsPerPage">
          <option *ngFor="let item of pageSize">{{ item }}</option>
        </select>
    </div>
      <app-paginator  
        [pager]="pager" 
        [ItemsPerPage]="ItemsPerPage" 
        [data]="data"
        (pagerChange)="changePagination($event)">
      </app-paginator>
</div>
